<div id="client_sa_index" class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-xs-10">
      <h3>配送先登録/一覧</h3>
        <%= form_with model: @address, url: customers_addresses_path,  local: true do |f| %>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><%= f.label :郵便番号 %></td>
                  <td><%= f.text_field :postal_code %></td>
                </tr>
                <tr>
                  <td><%= f.label :住所 %></td>
                  <td><%= f.text_area :address %></td>
                </tr>
                <tr>
                  <td><%= f.label :name, "宛名" %></td>
                  <td><%= f.text_field :name %></td>
                </tr>
                  <td>
                    <%= f.submit "登録する", disable_with: 'Submiting...', class: "btn btn-success" %>
                  </td>
              </tbody>
             </table>
        <% end %>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover table-inverse table-bordered">
        <thead class="table-success">
            <tr>
                <th>郵便番号</th>
                <th>住所</th>
                <th>宛名</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @addresses.each do |address| %>
            <tr>
                <td><%= address.postal_code %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td><%= link_to "編集する", edit_customers_address_path(address.id) %></td>
                <td><%= link_to "削除する", customers_address_path(address.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "deleted" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
  </div>

</div>
