<h1>商品編集画面</h1>

<%= form_for(@item, url: clients_item_path(@item.id)) do |f| %>
<%= f.label :商品名 %>
<%= f.text_field :name %>
<%= f.label :価格 %>
<%= f.text_field :price %>
<%= f.label :商品説明 %>
<%= f.text_field :introduction %>
<%= f.attachment_field :item_image %>
<%= f.label :商品ステータス %>
<%= f.select :is_active, [["販売中", "1"], ["販売中止", "2"]] %>
<%= f.label :ジャンル名 %>
<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
<%= f.submit "変更する" %>
<% end %>