<div class="container">
<h1>マイページ</h1>

<div class="row">
    <h2>登録情報</h2>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2"></div>
  </div>

  <div id="reg" class="row">

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>登録氏名</th>
          <th>登録住所</th>
          <th>電話番号</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%= current_customer.last_name + current_customer.first_name %></th>
          <th><%= @customer.address %></th>
          <th><%= @customer.telephone_number %></th>
          <th></th>
          <th><%= link_to "登録情報を編集する", edit_customers_customer_path(current_customer) %></th>
      </tr>
      </tbody>
    </table>
  </div>
  <h4>お気に入り商品</h4>
    <div id="favorite-box" class="row">
      <% @favorites.each do |favorite| %>
        <div id="favorite">
          <%= attachment_image_tag favorite.item, :item_image,:fill, 200, 200, format: "jpeg" %>
        <div><%= link_to favorite.item.name, customers_item_path(favorite.item) %></div>
        <div><%= favorite.item.price %>円</div>
        </div>
      <% end %>
    </div>
    <h4>配送先・注文履歴</h4>
    <div id="customer-box" class="row">
          <div>配送先:
            <%= link_to "一覧を見る", customers_addresses_path,class: "btn btn-primary" %></div>
          <div>注文履歴:
          <%= link_to "一覧を見る", customers_orders_path,class: "btn btn-primary" %></div>
    </div>

</div>