
<div>月間ランキング</div>
	<table class="table">
		<% @posts.each do |post| %>
			<tr>
				<th><%= post.title %></th>
				<th><%= link_to post.item.name, customers_item_path(post.item) %></th>
				<th>
					<div id="star-rate-<%= post.id %>"></div>
			            <script>
			            $('#star-rate-<%= post.id %>').raty({
			              size: 36,
			              starOff:  '<%= asset_path('star-off.png') %>',
			              starOn : '<%= asset_path('star-on.png') %>',
			              starHalf: '<%= asset_path('star-half.png') %>',
			              half: true,
			              readOnly: true,
			              score: <%= post.rate %>,
			            });
			            </script>
				</th>
				<th><%= attachment_image_tag post.item,:item_image,:fill, 100, 100, format: "jpeg" %></th>
			</tr>
		<% end %>
	</table>


			<div>週間ランキング</div>

			<div>本日のランキング</div>