<div class="ranking">
	<table class="table">
		<% item_ranking.each_with_index do |item_average, index| %>
		<% item = item_average[:item] %>
			 <% average = item_average[:average]%>
			<tr>
				<th><%= link_to item.name, customers_item_path(item) %></th>
				<th>
					<div id="star-rate-<%= index + 3 %>"></div>
			            <script>
			            $('#star-rate-<%= index + 3 %>').raty({
			              size: 36,
			              starOff:  '<%= asset_path('star-off.png') %>',
			              starOn : '<%= asset_path('star-on.png') %>',
			              starHalf: '<%= asset_path('star-half.png') %>',
			              half: true,
			              readOnly: true,
			              score: <%= average %>,
			            });
			            </script>
				</th>
				<th><%= attachment_image_tag item,:item_image,:fill, 100, 100, format: "jpeg" %></th>
			</tr>
		<% end %>
	</table>
</div>