<p>おすすめ商品登録</p>

<%= form_with model: @item, url: admins_sites_create_path, local: true do|f| %>
	<%= f.label :商品名 %>
	<%= f.text_field :name %>
	<%= f.attachment_field :item_image %>
	<%= f.label :商品説明 %>
	<%= f.text_field :introduction %>
	<%= f.label :価格 %>
	<%= f.text_field :price %>
	<%= f.label :ジャンル名 %>
	<%= f.collection_select :genre_id, Genre.where(is_active: 1), :id, :name, include_blank: "選択して下さい" %>
	<%= f.submit '登録' %>
<% end %>