<div class="container">
<h1>ようこそゼロフードロスへ！</h1>

<div class="row">
<p>コロナ禍によりレストラン等に出荷をされていた農家さん、畜産家さんの食品が
出荷先に困っておられます。<br>
お野菜やお肉を消費者の皆様へ直接提供できるプラットフォームとして
当サイトを開設しました。</p>
</div>

<div class="row"><h3>おすすめ商品</h3></div>
	<div class="row">
			<div class="item-box col-xs-7 col-md-7 col-lg-7 col-xl-7">
				 <% @items.each do |item| %>
				 <div class="item-box-child">
					<div class="item-image">
						<%= attachment_image_tag item, :item_image,:fill, 100, 100, format: "jpeg" %>
					</div>
					<div class="client-shop">
						店名:<%= item.client.shop_name %>
					</div>
					<div class="item-name">
						<%= link_to item.name, customers_item_path(item) %>
					</div>
					<div class="item-introduction">
						<%= item.introduction %>
					</div>
					<div class="item-price">
						<%= item.price %>円
					</div>
				</div>
				<% end %>
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4 col-xl-4">
				<%= render "admins/sites/search", genres: @genres %>
				<%= render "admins/sites/ranking" %>
			</div>
	</div>

<p><%= link_to "出品者の方はこちら", new_client_registration_path %></p>
<p><%= link_to "ご購入予定の方はこちら",new_customer_registration_path %></p>
</div>