<div class="container">

  <% if @posts.present? %>
    <% @posts.each do |post| %>
        <div class="review col-md-6 mb-3">
            <div class="posts-content">
              <p>投稿日時：<%= simple_time(post.created_at) %></p>
              <h4 class="mb-3">評価：<%= post.rate %>点 | <%= post.title %></h4>
              <div><%= attachment_image_tag post.item,:item_image,:fill, 100, 100, format: "jpeg" %></div>

              <!--星評価-->
             <div id="star-rate-<%= post.id %>"></div>
              <script>
              $('#star-rate-<%= post.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= post.rate %>,
              });
              </script>
            <!--/星評価-->

              <p><%= post.content %></p>
            </div>
          <div class="col-md-4">
            <%= link_to post.item.name, customers_item_path(post.item) %>
              <div class="posts-item">
                <p><%=  post.title %></p>
              </div>
          </div>
          <div class="col-md-12 edit-button">
            <% if current_customer == post.customer %>
              <%= link_to '口コミを編集', edit_customers_post_path(post), method: :get, class:"btn btn-primary" %>
              <%= link_to '口コミを削除', customers_post_path(post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-primary" %>
            <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>