
<div class="container">
	<h1>商品一覧</h1>
			<div class="item-box col-xs-7 col-md-7 col-lg-7 col-xl-7">
				 <% @items.each do |item| %>
				 <div class="item-box-child">
					<div class="item-image">
						<%= attachment_image_tag item, :item_image,:fill, 180, 180, format: "jpeg" %>
					</div>
					<div class="client-shop">
						店名:<%= item.client.shop_name %>
					</div>
					<div class="item-name">
						<%= link_to item.name, customers_item_path(item) %>
					</div>
					<div class="item-introduction">
						<%= item.introduction %>
					</div>
					<div class="item-price">
						<%= item.price %>円
					</div>
				</div>
				<% end %>
			</div>
</div>

